body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    background-color: #000;
}

header{
    background-color: #0002;
    color: #fff;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

nav{
    background-color: #000;
    padding: 0.5rem;
    border-bottom: 1px solid #00fff7;
    background: linear-gradient(to top, #00fff770, #000);
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}
nav ul a{
    text-decoration: none;
    color: #fff;
}
li{
    display: inline-block;
    width: 30vw;
}
nav ul a:hover{
    border-bottom: 1px solid #fff;
}
header h1{
    color: #fff;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
}

footer{
    background-color: #000;
    color: #fff;
    padding: 1rem;
    background: linear-gradient(to top, #00fff790, #000);
}

p{
    line-height: 200%;
}

p a{
    text-decoration: none;
    color: #fff;
    font-weight: 1000;
    border-bottom: 1px solid #fff;
}

a:active{
    color: #00fff7;
}

/*
    a:link      a normal, unvisited link.
    a:visited   has been visited.
    a:hover     activated by mouse.
    a:focus     activated with the keyboard.
    a:active    is being clicked
*/
/*
    list-style-type: square
    list-style-imaeg: square url('icon.gif')
    list-style-position
    list-style
*/
/*
    Operators can bu used to find those attributes values you are looking for.
     - match the beginning exactly:
        a [href^='http://umich']
     - match the end exactly:
        img[src$='.png']
     - wildcard:
        a [href*='umich']
*/
/*
    body{
        background: lightblue url("shadows.gif") 100% no-repeat;
    }
*/
/*
    background-color: black;
    height: 500px;
    background-position: center;
    background-size: cover;
*/